extends includes/layout.pug

block content
  include ./includes/mixins/article-sort.pug
  #archive
    - const archiveLength = findArchiveLength(fragment_cache)
    .article-sort-title= _p('page.articles') + ' - ' + archiveLength
    +articleSort(page.posts)
    include includes/pagination.pug
    
    button#go-up(type="button" title=_p("rightside.back_to_top"))
  i.fas.fa-arrow-up
  span#percent 0
    span %